.header {
  position: absolute;
  padding: 16px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logoLink {
  display: flex;
}

.logo {
  width: auto;
  height: 24px;
}
